@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
  background: rgb(197, 164, 255);
  background: linear-gradient(
    104deg,
    rgba(197, 164, 255, 1) 0%,
    rgba(112, 42, 156, 1) 50%,
    rgba(10, 30, 60, 1) 100%
  );
  color: white;
  background-attachment: fixed;
  height: 100%;
}
